<nav class="navbar navbar-expand-lg navbar-light bg-light bg-nav-color">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" #searchText (keyup)="onKeyUp(searchText.value)" placeholder="Search" aria-label="Search">
    </form>
  </div>
</nav>



<div class="accordion-outer" id="accordion">
  <div class="card mb-4" *ngFor="let user of users;let i = index;">
    <div class="container">
      <div class="row card-body">
        <div class="col-sm-3">
          <img class="img" src="{{user.avatar_url}}">
        </div>
        <div class="col">
          <div>{{user.login}}</div>
          <div>Profile URL: {{user.url}}</div>
        </div>
      </div>
    </div>

    <table class="table table-hover">
      <tbody>
        <tr *ngFor="let repo of user.repos;">
          <td>{{repo.name ? repo.name: 'N/A'}}</td>
          <td>{{repo.language ? repo.language : 'N/A'}}</td>
        </tr>
      </tbody>
    </table>

    <button class="btn btn-primary" (click)="getDetails(user.login, i)">
      Details
    </button>
  </div>
</div>