.navbar {
    &.bg-nav-color {
        background-color: #798ae0 !important;
    }

    .dropdown-toggle {
        color: white
    }

    padding: 10px 190px;
}

.accordion-outer {
    padding-top: 20px;
    width: 100%;
    padding: 13px 185px;
    background-color: #f3f1f1;
    overflow-y: scroll;


    .card {
        .btn {
            width: 20%;
            margin: auto;
            margin-right: 12px;
            margin-bottom: 12px;
        }
    }

    .card-body {
        .img {
            height: 100px;
            width: 100px;
            border-radius: 50%;
        }
    }
}